/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.git
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.editorconfig
/logs
/private_html
/public
/public_ftp
/public_html/cgi-bin
/public_html/storage
/stats
/.htpasswd
/config/debugbar.php
/.vscode
